<div ng-controller="KeyListUploadController" ng-init="init()">
<div fms-headline>
        Last Key Uploads
    </div>
    <div class="col-md-12  form-group">
        <table class="table table-striped table-condensed">
            <tr>
                <th>Uploaded</th>
                <th>User</th>
                <th>Key</th>
                <th>Target Device</th>
            </tr>
            <tr ng-repeat="upload in uploads">
                <td>
                    <fms-time ng-model="upload.created">{{date.since}}</fms-time>
                </td>
                <td>
                    <fms-link ng-if="upload.movieId" id="upload.movieId" type="'com.openfms.model.core.movie.FmsMovie'">{{upload.source}}</fms-link>
                </td>
                <td>
                    <fms-link id="upload.id" type="'com.openfms.model.core.crypto.FmsKey'">{{upload.name}}</fms-link>
                </td>
                <td>
                    <span ng-repeat="device in upload.devices">{{device.deviceName}}</span>
                </td>
            </tr>
        </table>
    </div>
</div>


