        <div class="row">
            <div class="col-md-12" ng-if="canEdit">
                <button ng-click="edit()" ng-disabled="!permissions.edit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-pencil"></i></button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Name</label><br>
                    <input id="movie_director" ng-disabled="!editing" ng-model="site.name" class="form-control" ng-blur="save()">
                </div>
            </div>
            <div class="col-md-12" ng-if="site.devices && site.devices.length > 0">
                <hr>
                <label>Devices</label>
                <table class="table table-compact">
                    <tr>
                        <th>Name</th>
                        <th>Vendor</th>
                        <th>Serial</th>
                    </tr>
                    <tr ng-repeat="device in site.devices">
                        <td>{{device.deviceName}}</td>
                        <td>{{device.deviceVendor}}</td>
                        <td>{{device.deviceSerial}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
                <label>Contacts</label>
                <form name="fmsForm">
                <table class="table table-compact">
                    <tr>
                        <th>Name</th>
                        <th>Phone (Format: +491234567890)</th>
                        <th>E-Mail</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="contact in site.data.contacts">
                        <td>{{contact.name}}</td>
                        <td>{{contact.phone}}</td>
                        <td>{{contact.email}}</td>
                        <td width="5%">
                            <div class="pull-right"  ng-click="removeContact($index)"><i class="glyphicon glyphicon-minus-sign"></i></a></div>
                        </td>
                    </tr>
                    <tr>
                        <td><input ng-disabled="!editing" ng-model="contact.name" class="form-control"></td>
                        <td><input name="phone" ng-pattern="/^\+[0-9]+$/" ng-disabled="!editing" ng-model="contact.phone" class="form-control"><span ng-show="fmsForm.phone.$error.pattern" class="btn btn-danger">Not a valid phone number!</span>
                        </td>
                        <td><input name="email" type="email" ng-disabled="!editing" ng-model="contact.email" class="form-control"><span ng-show="fmsForm.email.$error.email" class="btn btn-danger">Not an valid e-mail!</span>
                        </td>
                        <td><button ng-disabled="!editing" class="btn btn-primary fms-dialog-commit" ng-click="addContact()">Add</button></td>
                    </tr>
                </table>
                    </form>
            </div>
        </div>
        <div class="row"  ng-if="!canEdit">
            <div class="col-md-12">
                <div class="pull-right">
                    <button class="btn fms-dialog-close" ng-click="close()">cancel</button> 
                    <button class="btn btn-primary fms-dialog-commit"ng-click="add()">save</button> 
                </div>
            </div>
        </div>


